html {
  /* Fix for scrollbar shift */
  margin-left: calc(100vw - 100%);
}

body {
  padding-top: 65px;
}

.table td, .table th {
  vertical-align: middle;
}

.scoreboard {
  overflow: auto;
  height: calc(100vh - 55px);
}

#scores_table td {
  padding: 0;
}

#scores_left td, #scores_right td {
  border: 1px solid black;
  padding: 5px;
}

#order, #player, #score {
  text-align: center;
  font-weight: bold;
}

#summary_table {
  text-align: center;
  font-size: 0.8em;
}

.player_table {
  text-align: center;
  font-size: 0.8em;
}

#player_table th {
  background: white;
}

#history_table {
  text-align: left;
  font-size: 0.8em;
}

#history_table th {
  text-align: center;
  background: white;
}

#ore_input_table, #war_input_table {
  text-align: center;
  background: white;
}

#war_input_table thead th {
  vertical-align: middle;
}

#issues_table {
  text-align: left;
}

#issues_table th {
  text-align: center;
  background: white;
}

#spark_table, #effects_table {
  text-align: left;
  font-size: 0.8em;
}

#spark_table th, #effects_table th {
  text-align: center;
  background: white;
}

.table-responsive {
  overflow-x: visible;
}

.bigtext {
  font-size: 1.75em;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.light {
  background: #efefef;
}

.sticky-left {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  background: white;
  z-index: 1020;
}

.sticky-top-left {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  background: white;
  z-index: 1025;
}

.sticky-top {
  top: 55px;
}

.sticky-top-1 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1020;
  background: white;
}

.sticky-top-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 28px;
  z-index: 1020;
}

.sticky-bottom {
  position: fixed;
  bottom: 10px;
  width: 100%;
  z-index: 1025;
}

.header-left {
  min-width: 9em;
  text-align: left!important;
  font-weight: bold;
}

.header-right {
  min-width: 9em;
  text-align: right!important;
}

.summary_sort {
  min-width: 6em;
  background: white;
}

.tracked {
  font-weight: bold;
}

.untracked {

}

.optional {
  font-style: italic;
}

.min-width {
  min-width: 7em;
}

.button-shift {
  padding-top: 24px;
}

.win {
  background-color: #4a9a4a;
}

.win a {
  color: #d5d5d5;
}

.loss {
  background-color: #c14040;
}

.loss a {
  color: #d5d5d5;
}

.notInAlliance {
  background-color: #c5c5c5;
}

.missingScore {
  background-color: #fff70159;
}

.brokeProtocol {
  background-color: #c5000059;
}

.minorInfraction {
  background-color: #d8900d59;
}

.excused {
  background-color: #49aa0059;
}

.strikeOne {
  background-color: #fff70159;
}

.strikeTwo {
  background-color: #d8900d59;
}

.strikeThree {
  background-color: #c5000059;
}

.avgScore {
  font-weight: 700!important;
  color: #ff00ff;
}

.error {
  color: red;
  list-style: none;
  padding: 0;
}

.selected {
  color: #22cc22;
}

.collapse:not(.show) {
  display: none!important;
}

.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 1050;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#chart_Score {
  height: 20em;
}

.sorted-none,
.sorted-up,
.sorted-down {
  padding-right: 1.4em!important;
}

.sorted-none:before,
.sorted-none:after,
.sorted-down:after,
.sorted-up:after {
  border: 4px solid transparent;
  content: ' ';
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}

.sorted-none:before {
  border-bottom-color: silver;
  margin-top: -9px;
}

.sorted-none:after {
  border-top-color: silver;
  margin-top: 1px;
}

.sorted-down:after {
  margin-top: 1px;
  border-top-color: black;
}

.sorted-up:after {
  margin-top: -9px;
  border-bottom-color: black;
}

.col-expand:after,
.col-collapse:after {
  border: 4px solid transparent;
  content: ' ';
  display: block;
  height: 0;
  width: 0;
}

.col-expand:after {
  border-left-color: black;
  margin-left: 8px;
}

.col-collapse:after {
  border-right-color: black;
  margin-left: 2px;
}

.bootstrap-select:not(.input-group-btn) {
  display: block;
  z-index: 1028;
}

.custom-multiselect {
  background: white;
  border: 1px solid #ced4da;
}

.update-label {
  margin-bottom: 0px;
  font-size: 0.8em;
}

.update-check {
  display: inline;
  width: 1.5em;
  vertical-align: middle;
}

.player-check {
  display: inline;
  width: 1.0em;
  height: 1.0em;
  vertical-align: sub;
}

.war_calc {
  text-align: left;
}

.war_calc label {
  display: inline-block;
  width: 2em;
  height: 2em;
  text-align: center;
  border: 1px solid #666;
  line-height: 2em;
  margin: 3px;
  cursor: pointer;
}

.calc-checked {
  background: #999;
  color: #ffffff;
}

.calc-selected {
  background: #ddd;
  color: #ffffff;
}

.calc-selected-loss {
  background: #c14040;
  color: #ffffff;
}

.hard-mode {
  background: #006ddd;
  color: #ffffff;
}

.normal-mode {
  background: #0cc40c;
  color: #ffffff;
}

.hide {
  display: none!important;
}

.edit-score {
  max-width: 7em;
}

.rank {
  font-weight: bold;
}

#alert_wrapper {
  width: 70em;
}

a.dropdown-item {
  color: rgba(0,0,0,0.5);
}

a.dropdown-item.active, a.dropdown-item:active {
  color: rgba(0,0,0,0.9);
  background: white;
}

.dropdown-menu {
  min-width: 7rem;
}

.navbar-nav li:hover>.dropdown-menu {
  display: block;
}

.modal-wide {
  max-width: 800px;
}

@media (max-width: 610px) {
  .nav-link, .dropdown-item {
    font-size: 0.7rem;
  }
  .sticky-top {
    top: 48px;
  }
  .scoreboard {
    height: calc(100vh - 48px);
  }
}
