{% extends 'base.html' %}

{% block loadjs %}
    <script type="text/javascript" src="{{url_for('static', filename='history.js')+v}}"></script>
{% endblock %}

{% block title %}TFEW History{% endblock %}
{% block header %}TFEW War History{% endblock %}
{% block nav_history %}active{% endblock %}

{% block content %}
      <div class="col-md-5 table-responsive float-sm-none float-md-right">
        <table id="spark_table" class="table table-sm table-bordered">
          <tr>
            <th class="sticky-top">Month</th>
            <th class="sticky-top">Prime Record</th>
            <th class="sticky-top">Prime Average</th>
            <th class="sticky-top">Cybertron Record</th>
            <th class="sticky-top">Cybertron Average</th>
            <th class="sticky-top">Spark Earned</th>
          </tr>
          <tr>
            <th>Overall</th>
            <th>{{overall.prime_wins}}-{{overall.prime_losses}}</th>
            <th>{{overall.prime_average}}</th>
            <th>{{overall.cyber_wins}}-{{overall.cyber_losses}}</th>
            <th>{{overall.cyber_average}}</th>
            <th>{{'{:,}'.format(overall.spark)}}</th>
          </tr>
          {% for year in totals %}
              {% for month in totals[year] %}
                  {% set total = totals[year][month] %}
          <tr>
            <td class="center text-nowrap">{{total.month}} {{total.year}}</td>
            <td class="center">{{total.prime_wins}}-{{total.prime_losses}}</td>
            <td class="center">{{total.prime_average}}</td>
            <td class="center">{{total.cyber_wins}}-{{total.cyber_losses}}</td>
            <td class="center">{{total.cyber_average}}</td>
            <td class="center">{{'{:,}'.format(total.spark)}}</td>
          </tr>
              {% endfor %}
          {% endfor %}
        </table>
      </div>

      <div class="col-md-7 table-responsive float-sm-none float-md-left">
        <table id="history_table" class="table table-sm table-bordered">
          <tr>
            <th class="history_sort sticky-top sorted-down min-width" id="date_sort">Date</th>
            <th class="history_sort sticky-top sorted-none" id="opponent_sort">Opponent</th>
            <th class="history_sort sticky-top sorted-none" id="league_sort">League</th>
            <th class="history_sort sticky-top sorted-none" id="our_points_sort">Our Points</th>
            <th class="history_sort sticky-top sorted-none" id="opp_points_sort">Opp Points</th>
          </tr>

          {% for war in t.wars %}
          <tr>
            <td class="center {{war.winClass()}} {{war.trackedClass()}}">
              {% if current_user.officer %}
              <a href="{{url_for('war_editor', war_id=war.id)}}">{{war.date}}</a>
              {% else %}
              {{war.date}}
              {% endif %}
            </td>
            <td class="left {{war.winClass()}} {{war.trackedClass()}}">
              <a href="{{url_for('history', alliance_id=t.alliance, opponent_id=war.opponent_id)}}">{{war.opponent.name}}</a>
            </td>
            <td class="left {{war.winClass()}} {{war.trackedClass()}}">
              {{war.leagueText()}}
            </td>
            <td class="center {{war.winClass()}} {{war.trackedClass()}}">
              {{war.our_score}}
            </td>
            <td class="center {{war.winClass()}} {{war.trackedClass()}}">
              {{war.opp_score}}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
{% endblock %}
