<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{url_for('static', filename='jquery.serialize-object.min.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='common.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>

    <title>TFW2005 Player Tracker</title>
  </head>
  <body>
    <div class="container">
      <h1>TFW2005 TFEW Player Tracker</h1>
      <a href="/war_editor">New War</a>
      <br />
      <a href="/upload">Process scores</a>
      <br />
      <a href="/player_editor">Edit Players</a>
      <br />

      <form method="GET">
        <div class="d-flex">
          <input class="btn btn-primary" type="submit" name="submit" value="Update Table">
          <div class="col-auto">
            Date Range:
          </div>
          <div class="col-auto">
            <input class="form-control" type="date" name="start_day" value="{{templates['start_day']}}">
          </div>
          <div class="col-auto">
            <input class="form-control" type="date" name="end_day" value="{{templates['end_day']}}">
          </div>
        </div>
      </form>

      <table id="summary_table" class="table table-sm table-bordered">
        <tr>
          <th class="header-right" colspan="5">Date</th>
          {% for war in wars %}
          <td class="sticky-top {{war.winClass}} {{war.trackedClass}}">
            <a href="/war_editor?war_id={{war.id}}">{{war.date}}</a>
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Opponent</th>
          {% for war in wars %}
          <td class="sticky-top-2 {{war.winClass}} {{war.trackedClass}}">
            <a href="/?war_opponent={{war.opponent_id}}">{{war.opponent.name}}</a>
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">League</th>
          {% for war in wars %}
          <td class="{{war.winClass}} {{war.trackedClass}}">
            {{templates['leagues'][war.league]}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Tracked</th>
          {% for war in wars %}
          <td class="{{war.winClass}} {{war.trackedClass}}">
            {{templates['tracked'][war.tracked]}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Our Points</th>
          {% for war in wars %}
          <td class="{{war.winClass}} {{war.trackedClass}}">
            {{war.our_score}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Opponent Points</th>
          {% for war in wars %}
          <td class="{{war.winClass}} {{war.trackedClass}}">
            {{war.opp_score}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Base 1</th>
          {% for war in wars %}
          <td class="{{war.winClass}} {{war.trackedClass}}">
            {{templates['players'][war.b1]}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Base 2</th>
          {% for war in wars %}
          <td class="{{war.winClass}} {{war.trackedClass}}">
            {{templates['players'][war.b2]}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Base 3</th>
          {% for war in wars %}
          <td class="{{war.winClass}} {{war.trackedClass}}">
            {{templates['players'][war.b3]}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Base 4</th>
          {% for war in wars %}
          <td class="{{war.winClass}} {{war.trackedClass}}">
            {{templates['players'][war.b4]}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Base 5</th>
          {% for war in wars %}
          <td class="{{war.winClass}} {{war.trackedClass}}">
            {{templates['players'][war.b5]}}
          </td>
          {% endfor %}
        </tr>

        <tr>
          <th class="summary_sort sticky-top" id="player_sort">Player</th>
          <th class="summary_sort sticky-top" id="tracked_sort">Tracked</th>
          <th class="summary_sort sticky-top" id="untracked_sort">Untracked</th>
          <th class="summary_sort sticky-top" id="prime_sort">Prime</th>
          <th class="summary_sort sticky-top" id="total_sort">Total</th>
        </tr>

        {% for player in players %}
        <tr>
          <td class="header-left sticky-left">{{player.name}}</td>
          <td>{{player.trackedAvg}}</td>
          <td>{{player.untrackedAvg}}</td>
          <td>{{player.primeAvg}}</td>
          <td>{{player.totalAvg}}</td>
          {% for war in wars %}
          {% set score = player.scoresRange[war.id].score %}
          <td class="{{war.trackedClass}}">{{score if score != None}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
