{% extends 'base.html' %}

{% block loadjs %}
    <script type="text/javascript" src="{{url_for('static', filename='main.js')+v}}"></script>
{% endblock %}

{% block title %}TFEW Scoreboard{% endblock %}
{% block header %}TFEW Scoreboard{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}
      <table id="summary_table" class="table table-sm table-bordered">
        <tr>
          <th class="header-right" colspan="5">Date</th>
          {% for war in t.wars %}
          <td class="sticky-top min-width {{war.winClass()}} {{war.trackedClass()}}">
            <a href="/war_editor?war_id={{war.id}}">{{war.date}}</a>
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Opponent</th>
          {% for war in t.wars %}
          <td class="sticky-top-2 {{war.winClass()}} {{war.trackedClass()}}">
            <a href="/?alliance_id={{t.alliance}}&opponent_id={{war.opponent_id}}">{{war.opponent.name}}</a>
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">League</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}}">
            {{war.leagueText()}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Tracked</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}}">
            {{war.trackedText()}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Our Points</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}}">
            {{war.our_score}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Opponent Points</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}}">
            {{war.opp_score}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Base 1</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}}">
            {{war.b1p.name}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Base 2</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}}">
            {{war.b2p.name}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Base 3</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}}">
            {{war.b3p.name}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Base 4</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}}">
            {{war.b4p.name}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="5">Base 5</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}}">
            {{war.b5p.name}}
          </td>
          {% endfor %}
        </tr>

        <tr>
          <th class="summary_sort sticky-top" id="player_sort">Player</th>
          <th class="summary_sort sticky-top" id="tracked_sort">Tracked</th>
          <th class="summary_sort sticky-top" id="untracked_sort">Untracked</th>
          <th class="summary_sort sticky-top" id="prime_sort">Prime</th>
          <th class="summary_sort sticky-top" id="total_sort">Total</th>
        </tr>

        {% for player in t.players %}
        <tr>
          <td class="header-left sticky-left"><a href="/player?player_id={{player.id}}">{{player.name}}</a></td>
          <td>{{player.trackedAvg}}</td>
          <td>{{player.untrackedAvg}}</td>
          <td>{{player.primeAvg}}</td>
          <td>{{player.totalAvg}}</td>
          {% for war in t.wars %}
          {% set score = player.scoresRange[war.id].score %}
          {% set noAttempt = player.scoresRange[war.id].no_attempts %}
          {% set attemptsLeft = player.scoresRange[war.id].attempts_left %}
          {% set excused = player.scoresRange[war.id].excused %}
          {% set notInAlliance = False %}
          {% if score is not defined %}
            {% set notInAlliance = True %}
          {% endif %}
            <td class="{{war.trackedClass()}} {{'noAttempt' if noAttempt}} {{'attemptsLeft' if attemptsLeft}} {{'excused' if excused}} {{'notInAlliance' if notInAlliance}}">
            {{score if score != None}}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
{% endblock %}
