{% extends 'base.html' %}

{% block loadjs %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='player.js')+v}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='chart.js')+v}}"></script>
{% endblock %}

{% block title %}Player Detail{% endblock %}
{% block header %}TFEW Player Detail{% endblock %}
{% block nav_player %}active{% endblock %}
{% block tracked_check %}{% endblock %}
{% block active_check %}{% endblock %}

{% block content %}
      <br />
      <div id="chart_Score"></div>

      <div class="col-6" id="alliance_history_toggle">
        Alliance History +<br /><br />
      </div>

      <div class="col-6 col-md-3" id="alliance_history" style="display: none;">
        <table class="player_table table table-sm table-bordered">
          <tr>
            <th>Date</th>
            <th>Alliance</th>
          </tr>

          {% for alliance in t.player.alliances() %}
          <tr>
            <td>{{alliance['date']}}</td>
            <td>{{alliance['alliance'].name}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="col-6">
        <table class="player_table table table-sm table-bordered">
          <tr>
            <th>Player</th>
            <th>Tracked</th>
            <th>Untracked</th>
            <th>Prime</th>
            <th>Cybertron</th>
            <th>All</th>
          </tr>

          <tr>
            <th class="{{'strikeOne' if t.player.strikes == 1}} {{'strikeTwo' if t.player.strikes == 2}} {{'strikeThree' if t.player.strikes >= 3}}">{{t.player.name}}</th>
            <th>{{t.player.trackedAvg}}</th>
            <th>{{t.player.untrackedAvg}}</th>
            <th>{{t.player.primeAvg}}</th>
            <th>{{t.player.cyberAvg}}</th>
            <th>{{t.player.allAvg}}</th>
          </tr>
          <tr>
            <th>Table</th>
            <th>
              <input class="form-control player-check" type="checkbox" name="tracked_table" checked>
            </th>
            <th>
              <input class="form-control player-check" type="checkbox" name="untracked_table" checked>
            </th>
            <th>
              <input class="form-control player-check" type="checkbox" name="prime_table" checked>
            </th>
            <th>
              <input class="form-control player-check" type="checkbox" name="cyber_table" checked>
            </th>
            <th>
              <input class="form-control player-check" type="checkbox" name="all_table" checked>
            </th>
          </tr>
          <tr>
            <th>Chart</th>
            <th>
              <input class="form-control player-check" type="checkbox" name="tracked_chart" checked>
            </th>
            <th>
              <input class="form-control player-check" type="checkbox" name="untracked_chart">
            </th>
            <th>
              <input class="form-control player-check" type="checkbox" name="prime_chart">
            </th>
            <th>
              <input class="form-control player-check" type="checkbox" name="cyber_chart">
            </th>
            <th>
              <input class="form-control player-check" type="checkbox" name="all_chart" checked>
            </th>
          </tr>
        </table>
      </div>

      <div class="col-8">
        <table id="player_table" class="player_table table table-sm table-bordered">
          <tr>
            <th class="player_sort sticky-top min-width sorted-down" id="date_sort">Date</th>
            {% if t.alliance == 9999 %}
            <th class="player_sort sticky-top sorted-none" id="alliance_sort">Alliance</th>
            {% endif %}
            <th class="player_sort sticky-top sorted-none" id="opponent_sort">Opponent</th>
            <th class="player_sort sticky-top sorted-none" id="league_sort">League</th>
            <th class="player_sort sticky-top min-width sorted-none" id="points_sort">Total Points</th>
            <th class="player_sort sticky-top sorted-none" id="base_sort">Base</th>
            <th class="player_sort sticky-top sorted-none" id="score_sort">Score</th>
          </tr>
          {% for war in t.wars %}
          <tr>
            <td class="min-width {{war.winClass()}} {{war.trackedClass()}}">
              {% if current_user.officer %}
              <a href="{{url_for('war_editor', war_id=war.id)}}">{{war.date}}</a>
              {% else %}
              <div>{{war.date}}</div>
              {% endif %}
              <input type="hidden" id="{{war.id}}" value="{{war.tracked}}">
            </td>
            {% if t.alliance == 9999 %}
            <td class="left {{war.winClass()}} {{war.trackedClass()}}">
              <a href="{{url_for('player_view', player_id=t.player.id, alliance_id=war.alliance.id)}}">{{war.alliance.name}}</a>
            </td>
            {% endif %}
            <td class="left {{war.winClass()}} {{war.trackedClass()}}">
              <a href="{{url_for('player_view', player_id=t.player.id, alliance_id=t.alliance, opponent_id=war.opponent_id)}}">{{war.opponent.name}}</a>
            </td>
            <td class="{{war.winClass()}} {{war.trackedClass()}}">
              {{war.leagueText()}}
            </td>
            <td class="{{war.winClass()}} {{war.trackedClass()}}">
              {{war.our_score}}-{{war.opp_score}}
            </td>
            <td class="{{war.winClass()}} {{war.trackedClass()}}">
              {{ 'B1' if war.b1 == t.player.id }}
              {{ 'B2' if war.b2 == t.player.id }}
              {{ 'B3' if war.b3 == t.player.id }}
              {{ 'B4' if war.b4 == t.player.id }}
              {{ 'B5' if war.b5 == t.player.id }}
            </td>

            {% set score = t.player.scoresRange[war.id].score %}
            {% set brokeProtocol = t.player.scoresRange[war.id].broke_protocol %}
            {% set minorInfraction = t.player.scoresRange[war.id].minor_infraction %}
            {% set excused = t.player.scoresRange[war.id].excused %}
            {% set notInAlliance = False %}
            {% if score is not defined %}
              {% set notInAlliance = True %}
            {% endif %}
            <td class="{{war.trackedClass()}} {{'brokeProtocol' if brokeProtocol}} {{'minorInfraction' if minorInfraction}} {{'excused' if excused}} {{'notInAlliance' if notInAlliance}}">
              {{score if score != None}}
            </td>
            {% endfor %}
          </tr>
        </table>
      </div>
{% endblock %}
