{% extends 'base.html' %}

{% block loadjs %}
    <script type="text/javascript" src="{{url_for('static', filename='player_editor.js')+v}}"></script>
{% endblock %}

{% block title %}Player Editor{% endblock %}
{% block header %}TFEW Player Editor{% endblock %}
{% block nav_tools %}active{% endblock %}
{% block nav_player_editor %}active{% endblock %}

{% block update_form %}{% endblock %}
{% block content %}
      <form method="GET">
        <div class="form-row">
          <div class="col-auto">
            <label for="alliance_id" class="update-label">Alliance</label>
            <select class="custom-select" name="alliance_id" id="alliance_id">
              <option></option>
              <option value="9999" {% if t.alliance == 9999 %} selected {% endif %}>All
              </option>
              {% for alliance in t.alliances %}
                {% if alliance.active %}
              <option value="{{alliance.id}}"
              {% if t.alliance == alliance.id %} selected {% endif %}>{{alliance.name}}
              </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </form>

      <form method="POST">
        <table class="table table-sm table-striped w-auto">
          <thead>
            <tr>
              <th></th>
              <th>Reset</th>
              <th>Name</th>
              <th>Officer</th>
              <th>Allliance</th>
              <th>OCR Strings</th>
              <th colspan="100"></th>
            </tr>
          </thead>
          {% for player in t.players %}
          <tr>
            <td></td>
            <td>
              <input class="form-control" type="checkbox" name="players[{{player.id}}][reset]" value="{{player.id}}"
              {% if not player.password_hash %}
                disabled
              {% endif %}
              >
            </td>
            <td>
              <input type="hidden" name="players[{{player.id}}][id]" value="{{player.id}}">
              <input class="form-control" type="text" name="players[{{player.id}}][name]" value="{{player.name}}">
            </td>
            <td>
              <input class="form-control" type="checkbox" name="players[{{player.id}}][officer]" value="{{player.id}}"
              {% if player.officer %}
                checked
              {% endif %}
              {% if not player.password_hash %}
                disabled
              {% endif %}
              >
            </td>
            <td>
              <select class="custom-select" name="players[{{player.id}}][alliance]">
                {% for alliance in t.alliances %}
                  {% if alliance.active or alliance.id == 0 %}
                <option value="{{alliance.id}}"
                {% if player.alliance_id == alliance.id %} selected {% endif %}>{{alliance.name}}
                </option>
                  {% endif %}
                {% endfor %}
              </select>
            </td>
            {% for ocr in player.ocr %}
              {% if loop.index0 % 2 == 0 %}
                <td>
              {% endif %}
              <input class="form-control" type="text" name="players[{{player.id}}][ocr][]" value="{{ocr.ocr_string}}">
              {% if loop.index0 % 2 == 1 %}
                </td>
              {% endif %}
              {% if loop.index0 % 2 == 1 and loop.last %}
                <td>
              {% endif %}
              {% if loop.last %}
                  <input class="form-control" type="text" name="players[{{player.id}}][newocr]" value="">
                </td>
              {% endif %}
            {% endfor %}

            <td colspan="100"></td>
          </tr>
          {% endfor %}
          <tr>
            <th colspan="100">
              Add new player
            </th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <div class="col-auto">
                <div id="newNameAuto" class="autocomplete" data-autocomplete='{{t.playersList|tojson}}'>
                  <input class="form-control" type="text" name="newName" value="" autocomplete="off">
                </div>
              </div>
            </td>
            <td>
              <input class="form-control" type="checkbox" name="newOfficer" value="new" disabled>
            </td>
            <td>
              <select class="custom-select" name="newAlliance">
                {% for alliance in t.alliances %}
                  {% if alliance.active or alliance.id == 0 %}
                <option value="{{alliance.id}}"
                {% if t.alliance == alliance.id %} selected {% endif %}>{{alliance.name}}
                </option>
                  {% endif %}
                {% endfor %}
              </select>
            </td>
            <td colspan="100"></td>
          </tr>
        </table>

        <div class="sticky-bottom">
          <input class="btn btn-primary" type="button" id="submit" value="Submit Changes">
          <div id="alert_wrapper"></div>
        </div>
      </form>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
{% endblock %}
