{% extends 'base.html' %}

{% block loadjs %}
    <script type="text/javascript" src="{{url_for('static', filename='scoreboard.js')+v}}"></script>
{% endblock %}

{% block title %}TFEW Scoreboard{% endblock %}
{% block header %}TFEW Scoreboard{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}
    </div>
    <div class="col scoreboard">
      <table id="summary_table" class="table table-sm table-bordered">
        <tr>
          <th class="header-right" colspan="7">Date</th>
          {% for war in t.wars %}
          <td class="sticky-top-1 min-width {{war.winClass()}} {{war.trackedClass()}} cls{{war.id}}">
            {% if current_user.officer %}
            <a href="{{url_for('war_editor', war_id=war.id)}}">{{war.date}}</a>
            {% else %}
            {{war.date}}
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="7">Opponent</th>
          {% for war in t.wars %}
          <td class="sticky-top-2 {{war.winClass()}} {{war.trackedClass()}} cls{{war.id}}">
            <a href="{{url_for('scoreboard', alliance_id=t.alliance, opponent_id=war.opponent_id)}}">{{war.opponent.name}}</a>
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="7">League</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}} cls{{war.id}}">
            {{war.leagueText()}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="7">Tracked</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}} cls{{war.id}}">
            {{war.trackedText()}}
            <input type="hidden" id="{{war.id}}" value="cls{{war.id}}">
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="7">Our Points</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}} cls{{war.id}}">
            {{war.our_score}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="7">Opponent Points</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}} cls{{war.id}}">
            {{war.opp_score}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="7">Base 1</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}} cls{{war.id}}">
            {{war.b1p.name}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="7">Base 2</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}} cls{{war.id}}">
            {{war.b2p.name}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="7">Base 3</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}} cls{{war.id}}">
            {{war.b3p.name}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="7">Base 4</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}} cls{{war.id}}">
            {{war.b4p.name}}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th class="header-right" colspan="7">Base 5</th>
          {% for war in t.wars %}
          <td class="{{war.winClass()}} {{war.trackedClass()}} cls{{war.id}}">
            {{war.b5p.name}}
          </td>
          {% endfor %}
        </tr>

        <tr>

          {% if current_user.officer %}
            {% set player_sort = "sorted-up" %}
            {% set tracked_sort = "sorted-none" %}
          {% else %}
            {% set player_sort = "nosort" %}
            {% set tracked_sort = "sorted-down" %}
          {% endif %}
          <th class="col-collapse" id="col-toggle" title="Show/hide additional averages"></th>
          <th class="summary_sort sticky-top-left {{player_sort}}" id="player_sort">Player</th>
          <th class="summary_sort sticky-top-1 {{tracked_sort}}" id="tracked_sort">Tracked</th>
          <th class="summary_sort sticky-top-1 sorted-none" id="untracked_sort">Untracked</th>
          <th class="summary_sort sticky-top-1 sorted-none" id="prime_sort">Prime</th>
          <th class="summary_sort sticky-top-1 sorted-none" id="cyber_sort">Cybertron</th>
          <th class="summary_sort sticky-top-1 sorted-none" id="all_sort">All</th>
        </tr>
        <tr>
          <td></td>
          <td class="header-left sticky-left">
            <div>Average</div>
            <input type="hidden" id="activeAverage" value="true">
          </td>
          <td class="light font-weight-bold" id="avg_tracked"></td>
          <td class="light font-weight-bold" id="avg_untracked"></td>
          <td class="light font-weight-bold" id="avg_prime"></td>
          <td class="light font-weight-bold" id="avg_cyber"></td>
          <td class="light font-weight-bold" id="avg_all"></td>
        </tr>

        {% for player in t.players %}
        <tr>
          <td class="rank">{{loop.index}}</td>
          <td class="header-left sticky-left">
            {% if current_user.id == player.id or current_user.officer %}
            <a href="{{url_for('player_view', player_id=player.id)}}">{{player.name}}</a>
            {% else %}
            <div>&nbsp;</div>
            {% endif %}
            <input type="hidden" id="active{{loop.index}}" value="{{player.alliance_id == t.alliance}}">
          </td>
          <td class="light">{{player.trackedAvg}}</td>
          <td class="light">{{player.untrackedAvg}}</td>
          <td class="light">{{player.primeAvg}}</td>
          <td class="light">{{player.cyberAvg}}</td>
          <td class="light">{{player.allAvg}}</td>
          {% for war in t.wars %}
          {% set score = player.scoresRange[war.id].score %}
          {% set noAttempt = player.scoresRange[war.id].no_attempts %}
          {% set attemptsLeft = player.scoresRange[war.id].attempts_left %}
          {% set excused = player.scoresRange[war.id].excused %}
          {% set notInAlliance = False %}
          {% set missingScore = False %}
          {% if score is not defined %}
            {% if player.active_day(war.date, war.alliance_id) %}
              {% set missingScore = True %}
            {% else %}
              {% set notInAlliance = True %}
            {% endif %}
          {% endif %}
          {% if current_user.id == player.id or current_user.officer %}
          <td class="{{war.trackedClass()}} {{'noAttempt' if noAttempt}} {{'attemptsLeft' if attemptsLeft}} {{'excused' if excused}} {{'notInAlliance' if notInAlliance}} {{'missingScore' if missingScore }} cls{{war.id}}">
            {{score if score != None}}
          </td>
          {% else %}
          <td class="{{war.trackedClass()}} cls{{war.id}}">&nbsp;</td>
          {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
{% endblock %}
