{% extends 'base.html' %}

{% block loadjs %}
    <script type="text/javascript" src="{{url_for('static', filename='uploader.js')+v}}"></script>
{% endblock %}

{% block title %}Upload Scores{% endblock %}
{% block header %}TFEW AI Score Processor{% endblock %}
{% block nav_upload %}active{% endblock %}

{% block update_form %}{% endblock %}

{% block content %}
      <div class="col-sm">
        <div class="mb-3 mt-3">
          <h2 class="mb-3" style="font-weight: 300">Upload score video or image</h2>
          <div class="form-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="file_input" id="file_input" />
              <label id="file_input_label" class="custom-file-label" for="image">Select file</label>
            </div>
          </div>

          <button id="upload_btn" class="btn btn-primary">Upload</button>

          <button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Uploading...
          </button>

          <button type="button" id="cancel_btn" class="btn btn-secondary d-none">Cancel upload</button>
        </div>

        <div id="progress_wrapper" class="d-none">
          <label id="progress_status"></label>
          <div class="progress mb-3">
            <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div id="alert_wrapper"></div>

        <div id="scores">
          <a id="load_scores" href="#">Load previous scores</a>
          <br />
          <a id="add_scores" href="#">Total (click to update):</a>
          <table id="scores_table">
            <tr>
              <td>
                <table id="scores_left">
                  <tr>
                    <td id="order">Order</td>
                    <td id="player">Player</td>
                  </tr>
                </table>
              </td>
              <td>
                <table id="scores_right">
                  <tr>
                    <td id="score">Score</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
{% endblock %}
