{% extends 'base.html' %}

{% block loadjs %}
    <script type="text/javascript" src="{{url_for('static', filename='war_editor.js')+v}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='uploader.js')+v}}"></script>
{% endblock %}

{% block title %}War Editor{% endblock %}
{% block header %}TFEW War Editor{% endblock %}
{% block nav_war_editor %}active{% endblock %}

{% block update_form %}{% endblock %}

{% block content %}
      <form method="POST">
        <input type="hidden" name="war_id" value="{{war.id}}">
        <table class="table table-sm w-auto">
          <tr>
            <th>Alliance</th>
            <td>
              <select class="custom-select" name="alliance_id" id="alliance_id">
                <option></option>
                {% for alliance in t.alliances %}
                    {% if alliance.active %}
                <option value="{{alliance.id}}"
                {%- if t.alliance == alliance.id %} selected {% endif %}>{{alliance.name}}</option>
                    {% endif %}
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>Opponent</th>
            <td>
              <select class="selectpicker" name="opponent_id" data-style="custom-multiselect" data-live-search="true" data-actions-box="true">
                <option></option>
                {% for opponent in t.alliances %}
                <option value="{{opponent.id}}"
                {%- if opponent.id == war.opponent.id %} selected {% endif %}>{{opponent.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>New Opponent</th>
            <td>
              <div id="opponentsAuto" class="autocomplete" data-autocomplete='{{t.alliancesList|tojson}}'>
                <input class="form-control" type="text" name="opponent_new" value="" autocomplete="off">
              </div>
            </td>
          </tr>
          <tr>
            <th>League</th>
            <td>
              <select class="custom-select" name="league">
                <option value="8"
                {%- if war.league == 8 %} selected {% endif %}>Prime</option>
                <option value="7"
                {%- if war.league == 7 %} selected {% endif %}>Cybertron</option>
                <option value="6"
                {%- if war.league == 6 %} selected {% endif %}>Caminus</option>
                <option value="5"
                {%- if war.league == 5 %} selected {% endif %}>Platinum</option>
                <option value="4"
                {%- if war.league == 4 %} selected {% endif %}>Gold</option>
                <option value="3"
                {%- if war.league == 3 %} selected {% endif %}>Silver</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Tracked</th>
            <td>
              <select class="custom-select" name="tracked">
                <option value="0"
                {%- if war.tracked == 0 %} selected {% endif %}>No</option>
                <option value="1"
                {%- if war.tracked == 1 %} selected {% endif %}>Yes</option>
                <option value="2"
                {%- if war.tracked == 2 %} selected {% endif %}>Optional</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Date</th>
            <td>
              <input class="form-control" type="date" name="date" value=
              {%- if war.date %} "{{war.date}}"
              {%- else %} "{{today}}"
              {%- endif -%}
              >
            </td>
          </tr>
          <tr>
            <th>Opponent Score</th>
            <td>
              <input class="form-control" type="number" name="opp_score" value="{{war.opp_score}}" step="5" min="0" max="12000">
            </td>
          </tr>
          <tr>
            <th>Our Score</th>
            <td>
              <input class="form-control" type="number" name="our_score" value="{{war.our_score}}" step="5" min="0" max="12000">
            </td>
          </tr>
          <tr>
            <th>Base 1</th>
            <td>
              <select class="custom-select" name="b1">
                <option></option>
                {% for player in t.players + missing_players %}
                <option value="{{player.id}}"
                {%- if war.b1 == player.id %} selected {% endif %}>{{player.name}}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <input class="form-control" type="number" name="b1_drops" value="{{war.b1_drops}}" step="1" min="0" max="40">
            </td>
          </tr>
          <tr>
            <th>Base 2</th>
            <td>
              <select class="custom-select" name="b2">
                <option></option>
                {% for player in t.players + missing_players %}
                <option value="{{player.id}}"
                {%- if war.b2 == player.id %} selected {% endif %}>{{player.name}}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <input class="form-control" type="number" name="b2_drops" value="{{war.b2_drops}}" step="1" min="0" max="40">
            </td>
          </tr>
          <tr>
            <th>Base 3</th>
            <td>
              <select class="custom-select" name="b3">
                <option></option>
                {% for player in t.players + missing_players %}
                <option value="{{player.id}}"
                {%- if war.b3 == player.id %} selected {% endif %}>{{player.name}}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <input class="form-control" type="number" name="b3_drops" value="{{war.b3_drops}}" step="1" min="0" max="40">
            </td>
          </tr>
          <tr>
            <th>Base 4</th>
            <td>
              <select class="custom-select" name="b4">
                <option></option>
                {% for player in t.players + missing_players %}
                <option value="{{player.id}}"
                {%- if war.b4 == player.id %} selected {% endif %}>{{player.name}}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <input class="form-control" type="number" name="b4_drops" value="{{war.b4_drops}}" step="1" min="0" max="40">
            </td>
          </tr>
          <tr>
            <th>Base 5</th>
            <td>
              <select class="custom-select" name="b5">
                <option></option>
                {% for player in t.players + missing_players %}
                <option value="{{player.id}}"
                {%- if war.b5 == player.id %} selected {% endif %}>{{player.name}}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <input class="form-control" type="number" name="b5_drops" value="{{war.b5_drops}}" step="1" min="0" max="40">
            </td>
          </tr>
        </table>

        <button class="btn btn-info" type="button" id="setAll300" title="Or double click the Score field!">Set All to 300</button>
        <button class="btn btn-info" type="button" id="resetAll">Reset All Scores</button>

        <table class="table table-sm w-auto" id="editor_table">
          <thead>
            <tr class="text-center">
              <th class="sticky-top sorted-up" id="player_sort">Player</th>
              <th class="sticky-top sorted-none" id="score_sort">Score</th>
              <th class="sticky-top sorted-none ai-col hide" id="ai_sort">AI</th>
              <th class="sticky-top">Excused</th>
              <th class="sticky-top" title="Didn't use all attempts in decided war, etc.">Minor Infraction</th>
              <th class="sticky-top" title="Rage coined, early flameout, no help, etc.">Broke Protocol</th>
            </tr>
          </thead>

          {% for player in t.players %}
          <tr>
            <td>
              <input type="hidden" name="players[{{player.id}}][id]" value="{{player.id}}">
              {{player.name}}
            </td>
            <td>
              <input class="form-control edit-score" type="number" name="players[{{player.id}}][score]" value="{{player.score(war.id).score}}" step="5" min="0" max="300">
            </td>
            <td class="ai-col hide">
              <input type="hidden" name="players[{{player.id}}][airank]" value="{{player.score(war.id).airank if player.score(war.id).airank is not none}}">
              <div id="airank[{{player.id}}]">
                {{player.score(war.id).airank if player.score(war.id).airank is not none}}
              </div>
            </td>
            <td>
              <input class="form-control" type="checkbox" tabindex="-1" name="players[{{player.id}}][excused]" value="{{player.id}}"
              {%- if player.score(war.id).excused %} checked {% endif -%}
              >
            </td>
            <td>
              <input class="form-control" type="checkbox" tabindex="-1" name="players[{{player.id}}][minor_infraction]" value="{{player.id}}"
              {%- if player.score(war.id).minor_infraction %} checked {% endif -%}
              >
            </td>
            <td>
              <input class="form-control" type="checkbox" tabindex="-1" name="players[{{player.id}}][broke_protocol]" value="{{player.id}}"
              {%- if player.score(war.id).broke_protocol %} checked {% endif -%}
              >
            </td>
          </tr>
          {% endfor %}

          {% if missing_players %}
          <tr id="missingPlayersButtonRow">
            <td colspan="6">
              <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target=".missingPlayers" aria-expanded="false" aria-controls="missingPlayers">
                <span class="if-collapsed">Add Missing Players</span>
                <span class="if-not-collapsed">Remove Missing Players</span>
              </button>
            </td>
          </tr>
          {% else %}
          <input type="hidden" name="missing_players[]" value="">
          {% endif %}

          {% for player in missing_players %}
          <tr class="collapse missingPlayers">
            <td>
              <input type="hidden" name="missing_players[{{player.id}}][id]" value="{{player.id}}">
              {{player.name}}
            </td>
            <td>
              <input class="form-control" type="number" name="missing_players[{{player.id}}][score]" value="{{player.score(war.id).score}}" step="5" min="0" max="300">
            </td>
            <td class="ai-col hide">
              <input type="hidden" name="missing_players[{{player.id}}][airank]" value="{{player.score(war.id).airank if player.score(war.id).airank is not none}}">
              <div id="airank[{{player.id}}]"></div>
            </td>
            <td>
              <input class="form-control" type="checkbox" tabindex="-1" name="missing_players[{{player.id}}][excused]" value="{{player.id}}"
              {%- if player.score(war.id).excused %} checked {% endif -%}
              >
            </td>
            <td>
              <input class="form-control" type="checkbox" tabindex="-1" name="missing_players[{{player.id}}][minor_infraction]" value="{{player.id}}"
              {%- if player.score(war.id).minor_infraction %} checked {% endif -%}
              >
            </td>
            <td>
              <input class="form-control" type="checkbox" tabindex="-1" name="missing_players[{{player.id}}][broke_protocol]" value="{{player.id}}"
              {%- if player.score(war.id).broke_protocol %} checked {% endif -%}
              >
            </td>
          </tr>
          {% endfor %}
        </table>
      </form>

      <div class="sticky-bottom">
        <input class="btn btn-primary" type="button" id="submit" value="Submit">
        {% if war.id != None %}
        <a href="/delete_war?war_id={{war.id}}" class="btn btn-danger">Delete War</a>
        {% endif %}

        &nbsp;&nbsp;
        <span id="toggle_upload">
          <button id="toggle_upload_btn" class="btn btn-primary">AI Score</button>
        </span>
        <span id="upload_group" class="hide">
          <div class="custom-file tfewfile">
            <input type="file" class="custom-file-input" name="file_input" id="file_input" />
            <label id="file_input_label" class="custom-file-label text-truncate" for="image">Select file</label>
          </div>

          <button id="upload_btn" class="btn btn-primary">Upload</button>

          <button class="btn btn-primary hide" id="loading_btn" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Uploading...
          </button>

          <button type="button" id="cancel_btn" class="btn btn-secondary hide">Cancel upload</button>
          <button id="debug_btn" class="btn btn-primary hide" data-toggle="modal" data-target="#debug_data">Debug</button>

          <div id="progress_wrapper" class="hide">
            <label id="progress_status"></label>
            <div id="progress_bar_wrapper" class="progress mb-3">
              <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </span>
        <div id="alert_wrapper"></div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>

      <div class="modal fade" id="debug_data" tabindex="-1" role="dialog" aria-labelledby="debug_data" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="debugTitle">AI Debugging Data</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="debug_body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
