{% extends 'base.html' %}

{% block loadjs %}
    <script type="text/javascript" src="{{url_for('static', filename='war_editor.js')+v}}"></script>
{% endblock %}

{% block title %}War Editor{% endblock %}
{% block header %}TFEW War Editor{% endblock %}
{% block nav_war_editor %}active{% endblock %}

{% block update_form %}{% endblock %}

{% block content %}
      <form method="POST">
        <input type="hidden" name="war_id" value="{{war.id}}">
        <table class="table table-sm w-auto">
          <tr>
            <th>Alliance</th>
            <td>
              <select class="custom-select" name="alliance_id" id="alliance_id">
                <option></option>
                {% for alliance in t.alliances %}
                    {% if alliance.active %}
                <option value="{{alliance.id}}"
                {%- if t.alliance == alliance.id %} selected {% endif %}>{{alliance.name}}</option>
                    {% endif %}
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>Opponent</th>
            <td>
              <select class="selectpicker" name="opponent_id" data-style="custom-multiselect" data-live-search="true" data-actions-box="true">
                <option></option>
                {% for opponent in t.alliances %}
                <option value="{{opponent.id}}"
                {%- if opponent.id == war.opponent.id %} selected {% endif %}>{{opponent.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>New Opponent</th>
            <td>
              <div id="opponentsAuto" class="autocomplete" data-autocomplete='{{t.alliancesList|tojson}}'>
                <input class="form-control" type="text" name="opponent_new" value="" autocomplete="off">
              </div>
            </td>
          </tr>
          <tr>
            <th>League</th>
            <td>
              <select class="custom-select" name="league">
                <option value="8"
                {%- if war.league == 8 %} selected {% endif %}>Prime</option>
                <option value="7"
                {%- if war.league == 7 %} selected {% endif %}>Cybertron</option>
                <option value="6"
                {%- if war.league == 6 %} selected {% endif %}>Caminus</option>
                <option value="5"
                {%- if war.league == 5 %} selected {% endif %}>Platinum</option>
                <option value="4"
                {%- if war.league == 4 %} selected {% endif %}>Gold</option>
                <option value="3"
                {%- if war.league == 3 %} selected {% endif %}>Silver</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Tracked</th>
            <td>
              <select class="custom-select" name="tracked">
                <option value="0"
                {%- if war.tracked == 0 %} selected {% endif %}>No</option>
                <option value="1"
                {%- if war.tracked == 1 %} selected {% endif %}>Yes</option>
                <option value="2"
                {%- if war.tracked == 2 %} selected {% endif %}>Optional</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Date</th>
            <td>
              <input class="form-control" type="date" name="date" value=
              {%- if war.date %} "{{war.date}}"
              {%- else %} "{{today}}"
              {%- endif -%}
              >
            </td>
          </tr>
          <tr>
            <th>Opponent Score</th>
            <td>
              <input class="form-control" type="number" name="opp_score" value="{{war.opp_score}}">
            </td>
          </tr>
          <tr>
            <th>Our Score</th>
            <td>
              <input class="form-control" type="number" name="our_score" value="{{war.our_score}}">
            </td>
          </tr>
          <tr>
            <th>Base 1</th>
            <td>
              <select class="custom-select" name="b1">
                <option></option>
                {% for player in t.players + missing_players %}
                <option value="{{player.id}}"
                {%- if war.b1 == player.id %} selected {% endif %}>{{player.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>Base 2</th>
            <td>
              <select class="custom-select" name="b2">
                <option></option>
                {% for player in t.players + missing_players %}
                <option value="{{player.id}}"
                {%- if war.b2 == player.id %} selected {% endif %}>{{player.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>Base 3</th>
            <td>
              <select class="custom-select" name="b3">
                <option></option>
                {% for player in t.players + missing_players %}
                <option value="{{player.id}}"
                {%- if war.b3 == player.id %} selected {% endif %}>{{player.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>Base 4</th>
            <td>
              <select class="custom-select" name="b4">
                <option></option>
                {% for player in t.players + missing_players %}
                <option value="{{player.id}}"
                {%- if war.b4 == player.id %} selected {% endif %}>{{player.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>Base 5</th>
            <td>
              <select class="custom-select" name="b5">
                <option></option>
                {% for player in t.players + missing_players %}
                <option value="{{player.id}}"
                {%- if war.b5 == player.id %} selected {% endif %}>{{player.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
        </table>
        <table class="table table-sm w-auto" id="editor_table">
          <thead>
            <tr class="text-center">
              <th class="sticky-top sorted-up" id="player_sort">Player</th>
              <th class="sticky-top sorted-none" id="score_sort">Score</th>
              <th class="sticky-top">Excused</th>
              <th class="sticky-top" title="Didn't use all attempts in decided war, etc.">Minor Infraction</th>
              <th class="sticky-top" title="Rage coined, early flameout, no help, etc.">Broke Protocol</th>
            </tr>
          </thead>

          {% for player in t.players %}
          <tr>
            <td>
              <input type="hidden" name="players[{{player.id}}][id]" value="{{player.id}}">
              {{player.name}}
            </td>
            <td>
              <input class="form-control edit-score" type="number" name="players[{{player.id}}][score]" value="{{player.score(war.id).score}}">
            </td>
            <td>
              <input class="form-control" type="checkbox" tabindex="-1" name="players[{{player.id}}][excused]" value="{{player.id}}"
              {%- if player.score(war.id).excused %} checked {% endif -%}
              >
            </td>
            <td>
              <input class="form-control" type="checkbox" tabindex="-1" name="players[{{player.id}}][minor_infraction]" value="{{player.id}}"
              {%- if player.score(war.id).minor_infraction %} checked {% endif -%}
              >
            </td>
            <td>
              <input class="form-control" type="checkbox" tabindex="-1" name="players[{{player.id}}][broke_protocol]" value="{{player.id}}"
              {%- if player.score(war.id).broke_protocol %} checked {% endif -%}
              >
            </td>
          </tr>
          {% endfor %}

          {% if missing_players %}
          <tr id="missingPlayersButtonRow">
            <td>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".missingPlayers" aria-expanded="false" aria-controls="missingPlayers">Add Missing Players</button>
            </td>
          </tr>
          {% else %}
          <input type="hidden" name="missing_players[]" value="">
          {% endif %}

          {% for player in missing_players %}
          <tr class="collapse missingPlayers">
            <td>
              <input type="hidden" name="missing_players[{{player.id}}][id]" value="{{player.id}}">
              {{player.name}}
            </td>
            <td>
              <input class="form-control" type="number" name="missing_players[{{player.id}}][score]" value="{{player.score(war.id).score}}">
            </td>
            <td>
              <input class="form-control" type="checkbox" tabindex="-1" name="missing_players[{{player.id}}][excused]" value="{{player.id}}"
              {%- if player.score(war.id).excused %} checked {% endif -%}
              >
            </td>
            <td>
              <input class="form-control" type="checkbox" tabindex="-1" name="missing_players[{{player.id}}][minor_infraction]" value="{{player.id}}"
              {%- if player.score(war.id).minor_infraction %} checked {% endif -%}
              >
            </td>
            <td>
              <input class="form-control" type="checkbox" tabindex="-1" name="missing_players[{{player.id}}][broke_protocol]" value="{{player.id}}"
              {%- if player.score(war.id).broke_protocol %} checked {% endif -%}
              >
            </td>
          </tr>
          {% endfor %}
        </table>

        <div class="sticky-bottom">
          <input class="btn btn-primary" type="button" id="submit" value="Submit">
          {% if war.id != None %}
          <a href="/delete_war?war_id={{war.id}}" class="btn btn-danger">Delete War</a>
          {% endif %}
          <div id="alert_wrapper"></div>
        </div>
      </form>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
{% endblock %}
