<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{url_for('static', filename='jquery.serialize-object.min.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='common.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='war_editor.js')}}"></script>

    <title>War Editor</title>
  </head>
  <body>
    <div class="container">
      <a href="/">Home</a><br />
      <h1>TFW2005 TFEW War Editor</h1>
      <form method="POST">
        <input type="hidden" name="war_id" value="{{war.id}}">
        <table class="table table-sm w-auto">
          <tr>
            <th>Opponent</th>
            <td>
              <!-- TODO make this an autocomplete -->
              <input class="form-control" type="text" name="opponent" value="{{war.opponent.name}}">
            </td>
          </tr>
          <tr>
            <th>League</th>
            <td>
              <select class="custom-select" name="league">
                <option value="8"
                {% if war.league == 8 %} selected {% endif %}>Prime</option>
                <option value="7"
                {% if war.league == 7 %} selected {% endif %}>Cybertron</option>
                <option value="6"
                {% if war.league == 6 %} selected {% endif %}>Caminus</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Tracked</th>
            <td>
              <select class="custom-select" name="tracked">
                <option value="0"
                {% if war.tracked == 0 %} selected {% endif %}>No</option>
                <option value="1"
                {% if war.tracked == 1 %} selected {% endif %}>Yes</option>
                <option value="2"
                {% if war.tracked == 2 %} selected {% endif %}>Optional</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Date</th>
            <td>
              <input class="form-control" type="date" name="date" value=
              {% if war.date %} "{{war.date}}"
              {% else %} "{{today}}"
              {% endif %}
              >
            </td>
          </tr>
          <tr>
            <th>Opponent Score</th>
            <td>
              <input class="form-control" type="number" name="opp_score" value="{{war.opp_score}}">
            </td>
          </tr>
          <tr>
            <th>Our Score</th>
            <td>
              <input class="form-control" type="number" name="our_score" value="{{war.our_score}}">
            </td>
          </tr>
          <tr>
            <th>Base 1</th>
            <td>
              <select class="custom-select" name="b1">
                <option></option>
                {% for player in players %}
                <option value="{{player.id}}"
                {% if war.b1 == player.id %} selected {% endif %}>{{player.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>Base 2</th>
            <td>
              <select class="custom-select" name="b2">
                <option></option>
                {% for player in players %}
                <option value="{{player.id}}"
                {% if war.b2 == player.id %} selected {% endif %}>{{player.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>Base 3</th>
            <td>
              <select class="custom-select" name="b3">
                <option></option>
                {% for player in players %}
                <option value="{{player.id}}"
                {% if war.b3 == player.id %} selected {% endif %}>{{player.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>Base 4</th>
            <td>
              <select class="custom-select" name="b4">
                <option></option>
                {% for player in players %}
                <option value="{{player.id}}"
                {% if war.b4 == player.id %} selected {% endif %}>{{player.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>Base 5</th>
            <td>
              <select class="custom-select" name="b5">
                <option></option>
                {% for player in players %}
                <option value="{{player.id}}"
                {% if war.b5 == player.id %} selected {% endif %}>{{player.name}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
        </table>
        <table class="table table-sm w-auto">
          <thead>
            <tr class="d-flex text-center">
              <th class="col-5">Player</th>
              <th class="col-3">Score</th>
              <th class="col-3">Excused</th>
              <th class="col-3">Attempts Remaining</th>
              <th class="col-3">No Attempts</th>
            </tr>
          </thead>

          {% for player in players %}
          <tr class="d-flex">
            <td class="col-5">
              <input type="hidden" name="players[{{player.id}}][id]" value="{{player.id}}">
              {{player.name}}
            </td>
            <td class="col-3">
             <input class="form-control" type="number" name="players[{{player.id}}][score]" value="{{player.score(war.id).score}}">
            </td>
            <td class="col-3">
              <input class="form-control" type="checkbox" name="players[{{player.id}}][excused]" value="{{player.id}}"
              {% if player.score(war.id).excused %}
                checked
              {% endif %}
              >
            </td>
            <td class="col-3">
              <input class="form-control" type="checkbox" name="players[{{player.id}}][attempts_left]" value="{{player.id}}"
              {% if player.score(war.id).attempts_left %}
                checked
              {% endif %}
              >
            </td>
            <td class="col-3">
              <input class="form-control" type="checkbox" name="players[{{player.id}}][no_attempts]" value="{{player.id}}"
              {% if player.score(war.id).no_attempts %}
                checked
              {% endif %}
              >
            </td>
          </tr>
          {% endfor %}
        </table>
        <input class="btn btn-primary" type="button" id="submit" value="Submit">
      </form>
      <div id="alert_wrapper"></div>
      <div class="row">&nbsp;</div>
    </div>
  </body>
</html>
